/*
style.css
7/20/2020
Course Schedule Maker
Developed by: Yuxuan Feng and  Chizitere Ogbonna-Onugha
COMP2680 Web Project
*/

@charset "utf-8";
table{
	border:1px solid black;
	border-collapse: collapse;
	margin: auto;
}

th, td{
	border:1px solid black;
	width: 10%;
	height: 100px;
}
	
select {
		background-color:grey;
}
	
thead{
		
		background-color:grey;
}
		
body{
	font-family: Georgia;
	background-color: beige;
}
	
div.input {
	text-align: left;
	width: 15%;
	border: 2px solid black;
	position: absolute;
	left: 12%;
	top: 12%;
}

div.table{
	position: absolute;
	border: 1px solid black;
	left: 30%;
	bottom: 40%;
	width: 50%;
}